@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'N27';
    src: url(../fonts/n27.otf);
}

/* Utility classes / custom variables */

:root {

    /* COLORS */
    --white: #FFFFF9;
    --black: #000006;
    --green: #43E597;
    --yellow: #FCFF71;
    --red: #FF7253;

    /* GRADIENT */

    --green-gradient: linear-gradient(-15deg, #4EDE99, #00FF85);

    /* SPACING */
    --xs-spacing: 23px;
    --sm-spacing: 39px;
    --md-spacing: 55px;
    --lg-spacing: 75px;

    /* MAX-WIDTH */
    --max-width: 1600px;

    /* FONT SIZES */
    --xs3-font: 10px;
    --xs2-font: 11px;
    --xs-font: 16px;
    --sm-font: 18px;
    --md-font: 20px;
    --lg-font: 24px;
    --xl-font: 28px;
    --xl2-font: 34px;
    --xl3-font: 38px;
    --xl4-font: 48px;
    --xl5-font: 56px;
    --xl6-font: 60px;
    --xl7-font: 80px; 

    /* FONT FAMILY */
    --primary-ff: 'Inter', system-ui;
    --secondary-ff: 'N27', system-ui;
    --tertiary-ff: 'Roboto', system-ui;

    /* FONT WEIGTHS */
    --regular-font: 400;
    --medium-font: 500;
    --semibold-font: 600;
    --bold-font: 700;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}  

::-webkit-scrollbar-track {
  background: var(--white);
}
  
::-webkit-scrollbar-thumb {
  background: var(--green);
}
  

::-webkit-scrollbar-thumb:hover {
  background: var(--green); 
}

/* GREEN BOX UTILITY */

.box-15::after {
    left: 15%;
}

.box-15::before {
    left: 15%;
}

.box-25::after {
    left: 25%;
}

.box-25::before {
    left: 25%;
}

.box-35::after {
    left: 35%;
}

.box-35::before {
    left: 35%;
}

.box-45::after {
    left: 45%;
}

.box-45::before {
    left: 45%;
}

.box-55::after {
    left: 55%;
}

.box-55::before {
    left: 55%;
}

.box-65::after {
    left: 65%;
}

.box-65::before {
    left: 65%;
}

.box-75::after {
    left: 75%;
}

.box-75::before {
    left: 75%;
}

.box-85::after {
    left: 85%;
}

.box-85::before {
    left: 85%;
}

/* Omni selector / reset */

/*
  1. Use a more-intuitive box-sizing model. CREDIT: https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: var(--primary-ff);
  list-style: none;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6, li {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* 
  10. Fix inline indent on ul
*/

ul {
    padding-inline-start: 0px;
}

/* Wrapper */

.outer-wrapper {
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Custom variable doesn't work in media query */

@media screen and (min-width: 1600px) {
    .outer-wrapper {
        border-inline: 3px solid var(--black);
    }
}

.inner-wrapper {
    width: 100%;
}

.nav-menu {
    overflow: hidden;
}

/*-- HEADER --*/

/* General header styling */

header {
  display: flex;
  width: 100%;
  padding: var(--xs-spacing);
  justify-content: space-between;
  border-bottom: 3px solid var(--black);
}

/* Styling the first div in the header container */

header div:nth-child(1) {
  display: flex;
  gap: 18px;
  align-items: center;
  height: 82px;
}

header div:nth-child(1) img {
    width: 82px; 
    object-fit: contain;
  }
  
/* Styling the span in the H1 of the first div making the 'rock' in 'badstuerock' stroke only */

header h1 {
    font-family: var(--tertiary-ff);
    font-size: var(--xl7-font);
    cursor: pointer;
    color: var(--black);
}

header span {
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--black);
  color: var(--black);
  font-family: var(--tertiary-ff);
}

/* Styling the composition of second div of the header container */

header div:nth-child(2) {
  align-self: flex-end;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 15px;
  margin-right: 45px;
}

/* Defining the font size and family of the paragraph element in the second div of the header container */

header div:nth-child(2) p {
  font-family: var(--secondary-ff);
  font-size: var(--md-font);
  color: var(--black);
}

/* Turning the arrow - after '1973' - 180 degrees */

header div:nth-child(2) img {
  transform: rotate(180deg);
  width: 15px;
  object-fit: contain;
}

/* Desktop Menu Styling */

.menu-desktop {
    width: 45px;
}

/* Desktop Menu + Nav Wrapper Styling */

.menu-desktop .nav-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100vh;
}

/* Open and Close animation for Menu */

.nav-active {
    animation: nav-open 0.5s ease forwards;
}

.nav-not-active {
    animation: nav-close 0.5s ease forwards;
}

@keyframes nav-open {
    0% {
        width: 45px;
    }
    100% {
        width: 428px;
    }
}

@keyframes nav-close {
    100% {
        width: 45px;
    }
    0% {
        width: 428px;
    }
}

/* Desktop Menu Nav Styling */

.menu-desktop nav {
    height: 100vh;
    width: inherit;
    border-left: 3px var(--black) solid;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

/* Desktop Menu Nav Div 1st child Styling - Div containing H2 + img */

.menu-desktop nav div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 36.75px;
    transform: translateX(-14px);
    height: inherit;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Desktop Menu Nav Div H2 Styling */

.menu-desktop nav div h2 {
    font-family: var(--secondary-ff);
    font-size: var(--lg-font);
    font-weight: var(--regular-font);
    transform: rotate(90deg);
    color: var(--black);
}

/* Desktop Menu Nav Div Img Styling */

.menu-desktop nav > div:nth-child(1) img {
    transform: rotate(0deg);
}

/* Menu Animation - Turning Arrow on Open and Close */

@keyframes menu-arrow-active {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes menu-arrow-not-active {
    0%{
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.menu-arrow-active {
    animation: menu-arrow-active ease 0.5s forwards;
}

.menu-arrow-not-active {
    animation: menu-arrow-not-active ease 0.5s forwards;
}


/* Layout of the Menu */

.nav-content {
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    padding-top: 82px;
    padding-bottom: 52px;
    padding-right: 40px;
    position: relative;
    pointer-events: none;
}


/* Menu items fade-in and -out animation */

.nav-content-active {
    animation: content-active 1s forwards ease;
    animation-delay: 0.3s;
    pointer-events: auto;
}

.nav-content-not-active {
    animation: content-not-active 0.2s forwards ease;
    pointer-events: none;
}


@keyframes content-active {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes content-not-active {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Generel Layout and Styling of Nav Links */

.nav-links {
    grid-column: 1 / -1;
    text-align: right;
    font-family: var(--secondary-ff);
    font-size: var(--lg-font);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 42px;
}


.nav-links li {
    font-family: var(--secondary-ff);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: max-content;
    height: 37px;
}

.nav-links li::after {
    content: '';
    height: 4px;
    width: calc(100% + 140px);
    background-color: var(--green);
    position: absolute;
    bottom: -10px;
    left: -20px;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.3s ease-in-out all;
}

.nav-links li span {
    width: 37px;
    height: 37px;
    content: url(../img/arrow-diagonal.svg);
    padding: 11px 0px 11px 11px;
    opacity: 0;
    transform: rotate(45deg);
    transition: 0.3s ease-in-out all;
}

.nav-links li:hover span {
    opacity: 1;
    transform: rotate(0deg) translateX(6px);
    transition: all 0.3s ease;
}

.nav-links li:hover::after {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.3s ease;
}

.link-active {
    position: absolute;
    top: 0;
    left: -20px;
    height: 58px;
    margin-top: -11px;
    background-color: var(--green);
    width: calc(100% + 140px);
    z-index: -1;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: 18px;
    font-weight: var(--medium-font);;
    gap: 18px;
}

.opening-hours span {
    font-family: var(--secondary-ff);
    font-size: 16px;
}

.contact {
    position: absolute;
    bottom: 52px;
    right: 40px;
    text-align: right;
    text-transform: uppercase;
}

.contact ul {
    transform: rotate(90deg) translate(-13px, -102px);
    font-size: var(--md-font);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact ul li:nth-child(1) {
    margin-bottom: 13px;
}

.contact ul li {
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact ul li:hover {
    transform: translateX(-15px);
    transition: all 0.3s ease-in-out;
}

.contact ul li:hover::after {
    opacity: 1;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.contact ul li:hover::before {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.contact ul li::before {
    content: '';
    height: 3px;
    width: 100%;
    background-color: var(--green);
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translateX(70%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.contact ul li::after {
    content:'';
    background-image: url(../img/arrow-diagonal.svg);
    width: 10.76px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -17px;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.some {
    display: flex;
    gap: 13px;
    flex-direction: column;
    transform: translateX(140px);
    pointer-events: none;
}

.some img {
    width: 33px;
    object-fit: contain;
    pointer-events: all;
    cursor: pointer;
}

/* MOBILE MENU */

.menu-mobile {
    position: fixed;
    inset: 30px;
    align-items: flex-end;
    justify-content: flex-end;
    pointer-events: none;
}

.menu-btn {
    border: 3px solid var(--black);
    display: flex;
    gap: 8px;
    padding: 13px;
    background-color: var(--white);
    cursor: pointer;
    pointer-events: auto;
    display: none;
}

.menu-btn h2 {
    font-family: var(--secondary-ff);
    font-weight: var(--regular-font);
}

.mobile-active {
    pointer-events: none;
    animation: mobile-btn-active 0.5s ease forwards;
}

.mobile-not-active {
    animation: mobile-btn-not-active 0.5s ease forwards;
    pointer-events: auto;
}

@keyframes mobile-btn-not-active {
    0% {
        transform: translateX(150%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes mobile-btn-active {
    100% {
        transform: translateX(150%);
    }
    0%{
        transform: translateX(0%);
    }
}

.close-btn > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    transform: translateX(15px);
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 850px) {

    header div:nth-child(1) img {
        display: none;
    }
    
}

@media screen and (max-width: 770px) {

    header div:nth-child(2) {
        display: none;
      }

}

@media screen and (max-width: 710px) {
    
    .menu-mobile {
        display: flex;
    }
 
    @keyframes nav-open-mobile {
        0% {
            width: 0px;
            background-color: var(--white);
        }
        100% {
            width: 100%;
            background-color: var(--white);
        }
    }
    
    @keyframes nav-close-mobile {
        100% {
            width: 0px;
            background-color: var(--white);
        }
        0% {
            width: 100%;
            background-color: var(--white);
        }
    }

    .nav-active {
        animation: nav-open-mobile 0.5s ease forwards;
    }
    
    .nav-not-active {
        animation: nav-close-mobile 0.5s ease forwards;
    }

    .desktop-btn {
        display: none!important;
    }

    .nav-content {
        padding-inline: 40px;
    }

    .menu-desktop {
        width: 0px;
    }

    .menu-desktop nav {
        border-left: none;
    }

    .menu-desktop .nav-wrapper {
        background-color: transparent;
    }

    .close-btn > img {
        display: block;
    }

    .menu-btn {
        display: flex;
    }
}

@media screen and (max-width: 660px) {

    header {
        justify-content: center;
    }
    
    header div:nth-child(1) {
        height: 100%;
        gap: 0px;
        align-items: center;
        transform: translateX(-1px);
    }

    header div:nth-child(1) h1 {
        font-size: 13.5vw;
        text-align: center;
    }
}

/* HERO */

.hero {
    min-height: calc(100vh - 130px);
    border-bottom: 3px solid var(--black);
}

.hero img:nth-child(1) {
    width: 100%;
    height: 390px;
    object-fit: cover;
    object-position: center center;
    padding: 15px;
}

.hero-text {
    display: flex;
    align-items: center;
    margin-inline: 22px;
    min-height: calc(100vh - 130px - 390px);
    justify-content: space-between;
    padding-bottom: 22px;
}

.hero-text article {
    font-family: var(--tertiary-ff);
    width: max-content;
}

.hero-text article h2 {
    font-size: var(--xl7-font);
    font-family: var(--tertiary-ff);
    letter-spacing: 3px;
    font-weight: var(--medium-font);
    padding-bottom: 12px;
    color: var(--black);
}

.hero-text article h3 {
    font-size: var(--xl6-font);
    font-family: var(--tertiary-ff);
    letter-spacing: 3px;
    font-weight: var(--semibold-font);
    color: var(--black);
}

.hero-text article h3:nth-child(2) {
    position: relative;
    width: max-content;
    margin-bottom: 12px;
}

.hero-text article h3:nth-child(2)::before {
    content: '';
    width: 100%;
    height: 72px;
    background-color: var(--green);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(1.03);
}

.hero-text article h3:nth-child(2)::after {
    content: '';
    background-image: url(../img/arrow-diagonal.svg);
    width: 44px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -65px;
    top: 13.5px;
    transform: rotate(45deg);
    animation: subtle-rotate ease 0.5s forwards;
    animation-delay: 1s;
}

@keyframes subtle-rotate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hero-text article h3:nth-child(3) {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--black);
    color: transparent;
}

@media screen and (max-width: 700px) {
    .hero img:nth-child(1) {
        height: 353px;
    }

    .hero-text {
        min-height: calc(100vh - 130px - 353px);
    }
}

.badge {
    width: 217px;
    height: 217px;
    object-fit: contain;
    background: var(--green-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    transform: rotate(-15deg);
    margin-right: 60px;
}

.badge .text-circle {
    position: absolute;
    inset: 15px;
    background-image: url(../img/badge.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: circle-rotator linear 20s infinite;
}

@keyframes circle-rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.badge h3 {
    font-size: var(--xl2-font);
    color: var(--black);
}

.spacer {
    height: 100vh;
}

@media screen and (max-width: 1080px) {
    .badge {
        margin-right: 30px;
    }
    
}

@media screen and (max-width: 1000px) {
    .hero-text article h2 {
        font-size: 42px;
    }
    
    .hero-text article h3 {
        font-size: 32px;
    }

    .hero-text article h3:nth-child(3) {
        -webkit-text-stroke-width: 1px;
    }

    .hero-text article h3:nth-child(2)::before {
        height: 38px;
    }

    .hero-text article h3:nth-child(2)::after {
        height: 24px;
        top: 7px;
        animation: none;
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 710px) {
    .badge {
        width: 178px;
        height: 178px;
    }

    .badge h3 {
        font-size: 28px;
    }

    .menu-desktop .nav-wrapper {
        width: 0px;
    }

    .hero-text {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .hero-text article h3:nth-child(2) {
        margin-bottom: 3px;
    }

    .hero-text article h2 {
        padding-bottom: 3px;
    }
}

@media screen and (max-width: 415px) {
    .hero-text {
        min-height: calc(100vh - 114.8px - 353px);
    }
    .hero-text article h2 {
        font-size: 9.5vw;
    }
    
    .hero-text article h3 {
        font-size: 7.5vw;
    }

}

.m-scroll {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .letter-height {
    height: 145px;
    margin-block: var(--md-spacing);
  }

  .arrow-height {
    height: 34px;
    margin-top: var(--sm-spacing);
    margin-bottom: var(--lg-spacing);
  }

  .m-scroll::after {
    content: '';
    width: 98px;
    top: 0;
    bottom: 0;
    background-color:  #FFFFF9;
    position: absolute;
    mix-blend-mode: difference;
  }

  .m-scroll::before {
    content: '';
    width: 98px;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #BC1A62;
    position: absolute;
  }

  .box-off::after {
    content: none;
  }

  .box-off::before {
    content: none;
  }

  .m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: scale(2);
    transition: all 1s ease;
  }

  .m-scroll__title > div {
    position: relative;
    display: flex;
  }

  .letter-gap {
    gap: 0.35rem;
  }

  .arrow-gap {
    gap: 5px;
  }

  .scroll-forward {
    -webkit-animation: scrollTextForward 33s infinite linear;
    animation: scrollTextForward 33s infinite linear;
  }

  .scroll-backward {
    -webkit-animation: scrollTextBackward 33s infinite linear;
    animation: scrollTextBackward 33s infinite linear;
  }

  .m-scroll__title h2 {
    margin: 0;
    font-size: calc(var(--xl5-font * 2));
    color: var(--black);
    transition: all 2s ease;
    font-family: var(--tertiary-ff);
    letter-spacing: 1.3px;
  }

  .m-scroll__title h2 span {
    color: transparent;
    -webkit-text-stroke: 0.8px var(--black);
    font-family: var(--tertiary-ff);
  }

  @-webkit-keyframes scrollTextBackward {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes scrollTextBackward {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @-webkit-keyframes scrollTextForward {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes scrollTextForward {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }

  /* NEW RELEASES */

  .releases-wrapper {
    border-bottom: var(--black) solid 3px;
  }

  .releases-inner-wrapper {
    display: flex;
    gap: 120px;
    overflow-x: scroll;
    padding-inline: 30px;
  }

  .releases {
    display: flex;
    gap: var(--sm-spacing);
    padding-bottom: var(--sm-spacing);
  }

  .album-release {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    position: relative;
  }

  .album-release::after {
    content: '';
    background-image: url(../img/corner.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .artist {
    font-family: var(--secondary-ff);
    font-size: var(--sm-font);
    font-weight: 400;
  }

  .title {
    font-weight: 700;
    font-size: var(--sm-font);
    margin-bottom: 5px;
  }

  .genre-year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--xs-font);
    font-weight: 400;
    margin-block: 9px;
  }

  .genre,
  .year {
    font-family: var(--secondary-ff);
  }

  .genre {
    background-color: var(--green);
    padding-inline: 9px;
    padding-block: 2px;
  }
  
  .flex {
    display: flex;
    gap: 5px;
  }

  .arrow-forward {
    height: 17px;
  }

  .show-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-right: 120px;
    gap: 17px;
  }

  @media screen and (max-width: 710px) {
    .show-all {
        margin-right: 75px;
    }
  }

  .show-all-btn {
    height: 57px;
    width: 57px;
    border-radius: 50%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-all-btn img {
    height: 22px;
    width: 22px;
  }

  .show-all h5 {
    width: max-content;
    font-size: var(--md-font);
    font-family: var(--secondary-ff);
    font-weight: var(--regular-font);
  }
